<div class="text-center mt-4">
  <h2><strong>Your trips</strong></h2>

  <div class="div-trips-card">
    <% @trips.each do |t| %>
      <% trip_activities = TripActivity.where(trip_id: t.id) %>
      <% total_price = 0 %>
      <% trip_activities.each do |trip_activity| %>
        <% total_price += Activity.find(trip_activity.activity_id).price * trip_activity.traveler %>
      <% end %>

      <div class="trips-card">
        <div class="div-trips-card-photo">
          <% if t.activities.first.nil? %>
            <p>YOOOOOOOOO</p>
          <% else %>
            <%= cl_image_tag t.activities.first.photo.last.key, crop: :fill, id: "card-image-top" %>
          <% end %>
        </div>

        <div class="div-card-description">
          <div class="div-destination">

            <h4 class="h4-destination"><strong><%= t.destination.titleize %></strong></h4>


            <p class="p-price"><strong><%= total_price.to_i %></strong> CAD</p>

          </div>

          <div class="div-date-link">
            <div class="div-date">
            <p class="p-date"><strong><i class="fa-solid fa-calendar-days"></i> <%= t.start_date %> - <%= t.end_date %></strong></p>
            </div>

            <div>
              <p class="p-link-trip-activities"><%= link_to "See details about the trip", trip_trip_activities_path(t) %></p>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<%# Trip.last.activities[0].price + Trip.last.activities[1].price + Trip.last.activities[2].price %>
