<div>
  <h2>Your trips</h2>


  <% @trips.each do |t| %>

    <div class="trips-card">

      <div class="div-trips-card-photo">
        <%= cl_image_tag t.activities.first.photo.last.key, crop: :fill, id: "card-image-top" %>
      </div>

      <div class="div-card-description">

        <div class="div-destination">
          <h4 class="h4-destination"><%= t.destination.titleize %></h4>
        </div>

        <div class="div-date-link">

          <div class="div-date">
          <p class="p-date"><strong><i class="fa-solid fa-calendar-days"></i> <%= t.start_date %> - <%= t.end_date %></strong></p>
          </div>

          <div>
            <p class="p-link-trip-activities"><%= link_to "See details about the trip", trip_trip_activities_path(t) %></p>
          </div>

        </div>
      </div>

    </div>

  <% end %>
</div>

<%# class = "bg-white shadow m-3 p-3" %>
