<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                    url('<%= cl_image_path @activity.photo.blobs[0].key, crop: :fill, id: "card-image-top" %>')">
<h1 id="title-banner-intermediaire"> <strong><%= @trip.destination.titleize %> </strong> </h1>
</div>

<hr class="my-4 bg-dark">

<div id=container-intermediaire>

  <h2 class="your-trip">Your trip</h2>

  <hr />

  <div class="scrolling">
      <p class="text-center"><%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em> -
      <%= @trip_length.to_i %> DAYS IN <em><%= @trip.destination.upcase %></em>
      </p>
  </div>

  <hr />


  <% date = @trip.start_date %>
 <div class="main-container-intermediaire">

    <% (1..@trip_length).each do |n| %>
      <% x = 0 %>
      <% date += 1 %>
        <div class="container-intermediaire-page">
          <div class="date-intermediaire-page">
              <p><strong>Day <%= n %><p>
              <p></strong> <%=date%><p>
          </div>

          <% @trip_activities.each do |trip_activity| %>
            <% if trip_activity.day == n %>
              <% x += 1 %>
              <div class="name-activity-intermediaire-page" data-controller="activity">
                <p class="name-centered"><%= trip_activity.activity.name %></p>

                  <p>
                    <button class="btn btn-primary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Leave a review
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <%= simple_form_for([Trip.find(trip_activity.trip_id), trip_activity, @review]) do |f| %>
                          <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
                          <%= f.input :comment %>
                          <%= f.submit %>
                        <% end %>
                     </div>
                  </div>

              </div>
            <% end %>
          <% end %>
            <% if x == 0 %>
              <div class="name-activity-intermediaire-page">
                <p class="name-centered">No activity this day</p>
              </div>
            <% end %>
        </div>
    <% end %>
  </div>


</div>


<div class="first-image-intermediaire d-flex">
  <%= cl_image_tag @activity.photo.blobs[1].key, crop: :fill, id: "card-image-top" %>
  <div class="text-first-image">
    <div>
      <h2 class="text-center-first">Discover <em><%= @trip.destination.titleize %></em> like never before</h2>
    </div>
    <p>
    <i class="fa-solid fa-quote-left"></i>
        Don't just learn, experience. <br>
        Don't just read, absorb. <br>
        Don't just change, transform. <br>
        Don't just relate, advocate. <br>
        Don't just criticize, encourage. <br>
        Don't just take, give. <br>
        Don't just see, feel. <br>
        Don't just dream, do. <br>
        Don't just hear, listen. <br>
        Don't just talk, act. <br>
        Don't just tell, show. <br>
        Don't just exist, live.<i class="fa-solid fa-quote-right"></i><br>
        <strong>Roy T. Bennett, The Light in the Heart</strong> </p>
  </div>
</div>

<div class="second-image-intermediaire d-flex">
  <div class="text-second-image">
    <div>
      <h2 class="text-center">Make memories in <em><%= @trip.destination.titleize %> </em></h2>
    </div>
    <p>Memories are like treasure because they allow us to relive delightful times in our lives.
    Memories become stories that we tell hundreds and thousands of times throughout our life.
    The beautiful thing about our memories is that, not only are they beautiful to us, they are also beautiful to others.
    Book your trip and make</p>
  </div>
  <%= cl_image_tag @activity.photo.blobs[2].key, crop: :fill, id: "card-image-top" %>
</div>
