<div class = "m-5 d-flex justify-content-center">
    <h3><strong>Chat with <%= Owner.find(@chatroom.owner_id).firstname %> <%= Owner.find(@chatroom.owner_id).lastname %></strong></h3>
  </div>

<div class="container chatroom shadow"
     data-controller="chatroom-subscription"
     data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
     data-chatroom-subscription-current-user-value="<%= current_user.nil? ? current_owner.id : current_user.id %>"
     data-chatroom-subscription-current-owner-value="<%= current_owner %>">

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <% if current_owner.nil? %>

        <% if message.user_id.nil?  %>
          <% username = message.owner.username %>
          <div class = "message-row d-flex justify-content-start">
            <div class = "receiver-style" id="message-<%= message.id %>">
              <small>
                <strong><%= username %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          </div>
        <% else %>
          <% username = message.user.username %>
          <div class = "message-row d-flex justify-content-end">
            <div class = "sender-style" id="message-<%= message.id %>">
              <small>
                <strong><%= username %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>

      <% else %>

        <% if message.owner_id.nil?  %>
          <% username = message.user.username %>
          <div class = "message-row d-flex justify-content-start">
            <div class = "receiver-style" id="message-<%= message.id %>">
              <small>
                <strong><%= username %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          </div>
        <% else %>
          <% username = message.owner.username %>
          <div class = "message-row d-flex justify-content-end">
            <div class = "sender-style" id="message-<%= message.id %>">
              <small>
                <strong><%= username %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3", style:"height: 38px" %>
  <% end %>
</div>
