<div class="card-container">
  <% @activities.each do |activity| %>
    <%# <%= link_to activity_path(activity) do %>

      <div class="card-home">
        <%= cl_image_tag activity.photo.blobs[0].key, crop: :fill, class: "card-image-top" %>
        <h3 class="name"><strong><%= activity.name %></strong></h3>

        <div class="cards-location">
          <p class="location"><%= activity.location %></p>
        </div>

        <div class="cards-price">
          <p class = price><strong><%= activity.price.to_i %> CAD</strong></p>
        </div>

      </div>
    <%# <% end %>
  <% end %>
</div>

      <%# <div class="card-img">
        <%= image_tag("elephant.jpg") %>
      <%# </div>

      <div class="card-info">

        <div class="card-name">
          <h4>Snowmobile Tour on <br>Langjolkull Glacier<h4>
        </div>

        <div class="card-location">
          <p><i class="fa-solid fa-map-pin"></i> Iceland</p>
          <p><i class="fa-solid fa-tag"></i> 150$</p>
        </div>

      </div> %>
