<h2>This is the index page for going to <%= @location %></h2>

<% @activities.each do |a| %>
  <div class = "bg-white shadow border m-3 p-3">
    <h4><%= a.name %></h4>
    <p><%= a.description %></p>
    <p><%= a.price %></p>
    <p><%= link_to "See details", activity_path(a) %>
    <%= link_to "Add them to the valise", intermediaire_path(start_date: @start_date, end_date: @end_date, activity_id: a.id)%>
  </div>
<% end %>

<%= link_to "Back to home page", root_path %>
