<div class="container">
  <h2 class="act-h2">All the destination to <%= @location.titleize %></h2>

<div class = "shadow border" style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <% @activities.each do |a| %>
    <div class = "bg-white shadow border m-3 p-3">
      <%= cl_image_tag a.photo.blobs[0].key, width: 400, height: 300, crop: :fill %>
      <h4><%= a.name.titleize %></h4>
      <p><%= a.description %></p>
      <p><strong><%= a.price.to_i %> CAD</strong></p>
      <p class="link-p"><%= link_to "See details", activity_path(start_date: @start_date, end_date: @end_date, id: a.id, location: @location, day_date: @day_date) %> |
      <%= link_to "Add to the valise", add_path(start_date: @start_date, end_date: @end_date, activity_id: a.id, location: @location)%></p>
    </div>
  <% end %>

  <div class="link-back-home">
    <%= link_to "Back to home page", root_path %>
  </div>
</div>
