
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" data-wrap="true" >
    <div class="carousel-item active" data-bs-interval="5000">
      <%= cl_image_tag @activity.photo.blobs.first.key%>
    </div>


    <% @activity.photo.blobs[1..].each do |photo| %>
      <div class="carousel-item" data-bs-interval="5000">
        <%= cl_image_tag photo.key%>
      </div>
      <div class="carousel-caption">
        <h1><strong><%= @activity.name %> </strong></h1>
      </div>
    <% end %>
  </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container-activity">
  <div class="description-price-activity">
    <h2><strong>DESCRIPTION</strong></h2>
    <p><%= @activity.description %></p>

    <h2><strong>LOCATION</strong></h2>
    <p><%= @activity.location %></p>
    <h2><strong>MORE INFORMATION</strong></h2>
    <% chatroom = Chatroom.where(user_id: current_user.id, owner_id: @activity.owner_id) %>
    <% if chatroom.empty? %>
      <%= link_to chatrooms_path(owner_id: @activity.owner_id), data: {turbo_method: :post} do %>
        <div class="chatroom-link">
          <i class="fa-solid fa-comments"></i>
          <p>Chat with the owner of this activity</p>
        </div>
      <% end %>
    <% else %>
        <%= link_to chatroom_path(chatroom[0]) do %>
          <div class="chatroom-link">
            <i class="fa-solid fa-comments"></i>
            <p>Chat with the owner of this activity</p>
          </div>
        <% end %>
    <% end %>
    <h2><strong>REVIEWS</strong></h2>
     <% x = 0 %>
     <% @vrai_reviews.each do |review| %>
       <% x += 1 %>
       <div class="reviews-show-page">
         <p><%= review.comment %></p>
         <p>
            Rating:
            <% rating = review.rating.to_i %>
            <% rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </p>
       </div>
     <% end %>
     <% if x < 4 %>
      <% 5.times do %>
          <div class="reviews-show-page">
            <% review = Review.offset(rand(Review.count)).first %>
            <p><%= Review.all.sample.comment %></p>
            <p>
              Rating:
              <% rating = Review.all.sample.rating.to_i %>
              <% rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </p>
          </div>

        <% end %>
      <% end %>




  </div>

  <div class="container-add-to-trip-show">
    <div class="price-show-page">
      <p><strong>$<%= @activity.price.to_i%></strong> per traveler</p>
    </div>


    <form class="form-show", action = "/pages/intermediaire">
      <input type="hidden" name="start_date" value= <%= @start_date %> >
      <input type="hidden" name="end_date" value= <%= @end_date %>>
      <input type="hidden" name="activity_id" value=<%= @activity.id %> >
      <input type="hidden" name="location" value=<%= @location %> >
      <% if @day_date.nil? %>
        <div class="form-show-line">
          <label for="day_date"></label>
          <input type="date" placeholder="Choose" id="day_date" min = <%= Date.parse(@start_date) + 1 %> max = <%= Date.parse(@end_date) - 1 %> name="day_date" required><br><br>
        </div>
      <% else %>
        <input type="hidden" name="day_date" value= <%= @day_date %>>
      <% end %>

      <div class="form-show-line">
        <label for="travelers"></label>
        <input type="number" placeholder="Number of travelers" id="travelers" name="travelers" min="1" required><br><br>
      </div>

      <div class="form-show-line">
        <input type="submit" value="Add to Itinerary" class="button-add-show-page">
      </div>

    </form>
  </div>

</div>

<div class="link-back-home">
  <%= link_to "Back to activities", activities_path(location: @location, start_date: @start_date, end_date: @end_date, day_date: @day_date) %>
</div>
